[package]
name = "rustus"
version = "0.1.0"
edition = "2021"
description = "TUS protocol implementation written in Rust."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "rustus"

[dependencies]
actix-web = { version = "^4.0.0-beta.15" }
actix-files = { version = "0.6.0-beta.10" }
tokio = { version = "1.4.0", features = ["time"] }
derive_more = { version = "^0.99.9", default-features = false, features = ["display", "from", "from_str"] }
thiserror = "^1.0"
async-trait = "0.1.52"
structopt = { version = "^0.3" }
uuid = { version = "^1.0.0-alpha.1", features = ["v4"] }
async-std = { version = "^1.10.0", features = ["tokio1"] }
serde = "1"
chrono = { version = "^0.4.19", features = ["serde"] }
serde_json = "1"
log = "^0.4.14"
url = "2.2.2"
base64 = "^0.13.0"
fern = { version = "0.6.0", features = ["colored"] }
strfmt = "^0.1.6"
lazy_static = "1.4.0"
strum = { version = "0.23", features = ["derive"] }
futures = { version = "^0.3.19", features = ["executor"] }
reqwest = { version = "^0.11.8", features = ["json"], optional = true }
# Deps for info storages.
rbson = { version = "2.0", optional = true }
rbatis = { version = "^3.0", default-features = false, features = ["runtime-actix-rustls", "all-database"], optional = true }
mobc-redis = { version = "^0.7.0", optional = true }

[features]
default = []
all = ["redis_info_storage", "db_info_storage", "http_notifier"]
redis_info_storage = ["mobc-redis"]
db_info_storage = ["rbatis", "rbson"]

http_notifier = ["reqwest"]