[package]
name = "rustus"
version = "0.6.0"
edition = "2021"
description = "TUS protocol implementation written in Rust."
keywords = ["tus", "server", "actix-web"]
license-file = "LICENSE"
authors = [
    "Pavel Kirilin <win10@list.ru>",
    "Maxim Naumov <overlordin777@gmail.com>",
]
homepage = "https://github.com/s3rius/rustus"
readme = "README.md"


[[bin]]
name = "rustus"

[dependencies]
bytes = "~1.3.0"
async-trait = "^0.1.52"
base64 = "0.20.0"
log = "^0.4.14"
serde_json = "^1"
thiserror = "^1.0"
url = "^2.2.2"
prometheus = "^0.13.0"
actix-web-prom = "^0.6.0"
dyn-clone = "^1.0.5"
actix-cors = "0.6.1"
wildmatch = "2.1.0"
md-5 = "^0.10.1"
digest = "0.10.3"
mimalloc = { version = "~0.1.30", default-features = false }


[dependencies.sha1]
version = "^0.10.1"
features = ["compress"]

[dependencies.sha2]
version = "^0.10.1"
features = ["compress"]

[dependencies.futures]
version = "^0.3.21"

[dependencies.serde]
version = "^1"
features = ["derive"]

[dependencies.openssl]
version = "^0.10.38"
features = ["vendored"]

[dependencies.actix-files]
version = "^0.6.0-beta.13"

[dependencies.actix-web]
version = "^4.0.1"

[dependencies.chrono]
features = ["serde"]
version = "^0.4.19"

[dependencies.derive_more]
default-features = false
features = ["display", "from", "from_str"]
version = "^0.99.9"

[dependencies.fern]
features = ["colored"]
version = "^0.6.0"

[dependencies.lapin]
optional = true
version = "^2.1.1"

[dependencies.mobc-lapin]
optional = true
version = "^0.7.0"

[dependencies.mobc-redis]
optional = true
version = "^0.7.0"

[dependencies.rbatis]
default-features = false
features = ["runtime-tokio-rustls", "all-database"]
optional = true
version = "^3.0"

[dependencies.rbson]
optional = true
version = "^2.0"

[dependencies.reqwest]
features = ["json"]
version = "^0.11.8"

[dependencies.structopt]
version = "^0.3"

[dependencies.strum]
features = ["derive"]
version = "0.24.0"

[dependencies.tokio]
features = [
    "time",
    "process",
    "fs",
    "io-std",
    "io-util",
    "rt-multi-thread",
    "bytes",
    "rt",
    "macros",
]
version = "^1.4.0"

[dependencies.tokio-amqp]
optional = true
version = "^1.0.0"

[dependencies.uuid]
features = ["v4"]
version = "^1.0.0-alpha.1"

[dependencies.rust-s3]
version = "~0.32.3"

[features]
all = [
    "redis_info_storage",
    "db_info_storage",
    "amqp_notifier",
]
amqp_notifier = ["lapin", "tokio-amqp", "mobc-lapin"]
db_info_storage = ["rbatis", "rbson"]
default = []
redis_info_storage = ["mobc-redis"]

### For testing
test_redis = []
test_db = []
test_rmq = []
integration_tests = ["test_redis", "test_db", "test_rmq"]

[dev-dependencies]
tempdir = "0.3.7"
actix-rt = "2.6.0"
httptest = "0.15.4"
actix-http = "3.2.2"

[profile]
[profile.release]
debug = false
lto = "fat"
panic = "abort"
opt-level = 3
codegen-units = 1
